@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,100&family=IBM+Plex+Sans+Condensed:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  border: 0;
  font-family: "Barlow", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #151313;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-container {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 1.5% 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  border-radius: 8px;
}
.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 260px;
  height: 130px;
}
.avatar-img {
  width: 45px;
  height: 45px;
}
.search-input {
  width: 220px;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.search-input::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.login-btn {
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  color: black;
}
.profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 23px;
  font-weight: 600;
}
.li-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.li-items:hover {
  background-color: rgb(40, 34, 34);
}
