@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,100&family=IBM+Plex+Sans+Condensed:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

body {
    background-color: black;
    color: white;
    /* background-image: url("https://crypto.com/nft/assets/images/drops/subscribe-v2.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 30%;
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.signupbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 100%;
}

.inp {
    width: 350px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.signup-container label {
    position: absolute;
    left: 20px;
    color: #000000;
    height: 20px;
    transform: translateY(2.5px);
    padding-left: 5px;
    cursor: text;
    padding-right: 5px;
    transition: 0.2s;
}

.signup-container input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.signup-container input:focus {
    border: 2px solid #1f1fff;
    box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

.signup-container input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.signup-container button {
    width: 300px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: #2020db;
    border: 2px solid #1f1fff;
    border-radius: 50px;
    outline: none;
    transition: 0.4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #1717c2;
    border: 2px solid #1717c2;
}

.signup-container h1 {
    color: #fff;
    margin-bottom: 20px;
}

.signup-container a {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 12px;
}

.signup-container a:hover {
    text-decoration: underline;
}

.signup-container img {
    width: 85px;
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .pic {
        display: none;
    }

    .signup-container {
        width: 100%;
    }
    .signupbox {
        width: 100%;
    }
}

@media only screen and (max-height: 450px) {
    .pic {
        display: none;
    }
    .signup-container {
        width: 100%;
    }
    .signupbox {
        width: 100%;
    }
}

.nav-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-img {
    width: 200px;
    height: 100px;
    cursor: pointer;
}
.carousel-image {
    width: 100vw;
    height: 85vh;
    object-fit: cover;
}

.avatar {
    color: white;
}
.avatar-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search-input {
    width: 220px;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.search-input::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}
.login-btn {
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    color: black;
}
.profile {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 23px;
    font-weight: 700;
}
.li-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}
.li-items:hover {
    background-color: rgba(17, 25, 40, 0.95);
}
.nav-container {
    width: 100%;
    padding: 10px 1.5% 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-top: 2px;
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(51, 61, 77, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    &.scrolled {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 1.5% 10px;
    margin: 2px;
    border-radius: 8px;
}

.comp1-container {
    border: 2px solid white;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 1.5% 10px;
    height: 55vh;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    /* backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.65);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125); */
}
.comp2-container {
    border: 2px solid white;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 1.5% 10px;
    height: 55vh;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    /* backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.65);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);*/
}
.comp3-container {
    border: 2px solid white;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 1.5% 10px;
    height: 55vh;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    /* backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.65);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);*/
}

.explorecard {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
    cursor: pointer;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.05)))
        rotate(calc(var(--hover, 0) * 0deg));
    transition: transform 0.2s;
}

.card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5ch;
    background: hsl(0 0% 100% / 0.5);
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
    font-weight: 800;
}

.card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%) translateY(calc((var(--size) * 0.4)))
        translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
    -webkit-backdrop-filter: blur(calc(var(--blur) * 0.5));
    backdrop-filter: blur(calc(var(--blur) * 0.5));
    transition: transform 0.2s;
}

.card__action svg {
    aspect-ratio: 1;
    width: 50%;
}

.card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
}

.explorecard:is(:hover, :focus-visible) {
    --hover: 1;
}

.about-container {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 992px) and (max-width: 1439px) {
        max-width: 1279px !important;
        padding: 0 !important;
        margin: 0 80px !important;
        width: auto !important;
    }

    @media screen and (max-width: 991px) {
        max-width: 959px !important;
        margin: 0 16px !important;
        padding: 0 !important;
        width: auto !important;
    }
}

.gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
        grid-template-columns: 1fr;
    }
}

.container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #f9f9f9;
    font-weight: 600;
    line-height: 60px;
}

.card-about {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
}

.container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    img {
        margin-bottom: 32px;
    }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
    position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}

.card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
}

.market {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.exp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 25px;
    flex-wrap: wrap;
}

.nft {
    -webkit-user-select: none;
    user-select: none;
    max-width: 350px;
    margin: 1rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(
        0deg,
        rgba(40, 44, 52, 1) 0%,
        rgba(17, 0, 32, 0.5) 100%
    );
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    flex-grow: 1;
    box-sizing: border-box;
    hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #88888855;
        margin-top: 0;
    }
    button {
        font-size: large;
        width: 80px;
    }
    ins {
        text-decoration: none;
    }
    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        .tokenImage {
            border-radius: 0.5rem;
            max-width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .description {
            margin: 0.5rem 0;
            color: #a89ec9;
        }
        .tokenInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
                display: flex;
                align-items: center;
                color: #ee83e5;
                font-weight: 700;
                font-size: 20px;
                img {
                    height: 30px;
                    width: 30px;
                    margin-right: 5px;
                }
            }
            .duration {
                display: flex;
                align-items: center;
                color: #a89ec9;
                margin-right: 0.2rem;
                ins {
                    margin: 0.5rem;
                    margin-bottom: 0.4rem;
                }
            }
        }
        .creator {
            display: flex;
            align-items: center;
            margin-top: 0.2rem;
            margin-bottom: -0.3rem;
            ins {
                color: #a89ec9;
                text-decoration: none;
            }
            .wrapper {
                display: flex;
                align-items: center;
                border: 1px solid #ffffff22;
                padding: 0.3rem;
                margin: 0;
                margin-right: 0.5rem;
                border-radius: 100%;
                box-shadow: inset 0 0 0 4px #000000aa;
                img {
                    border-radius: 100%;
                    border: 1px solid #ffffff22;
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    margin: 0;
                }
            }
        }
    }
    ::before {
        position: fixed;
        content: "";
        box-shadow: 0 0 100px 40px #ffffff08;
        top: -10%;
        left: -100%;
        transform: rotate(-45deg);
        height: 60rem;
        transition: 0.7s all;
    }
    &:hover {
        border: 1px solid #ffffff44;
        box-shadow: 0 7px 50px 10px #000000aa;
        filter: brightness(1.3);
        transform: translateY(-5px);
    }
}

.glass-card {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}
.glass-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.15);
}
.glass-input,
.glass-select {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: var(--text-color);
    padding: 0.5rem;
    transition: all 0.3s ease;
}
.glass-input:focus,
.glass-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-color);
    background: rgba(255, 255, 255, 0.15);
}
.glass-select option {
    background-color: var(--primary-bg);
    color: var(--text-color);
}
.glass-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.glass-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}
.time-btn {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.time-btn:hover,
.time-btn.active {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}
.connect-wallet-btn {
    background: linear-gradient(
        45deg,
        var(--accent-color),
        var(--secondary-bg)
    );
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}
.connect-wallet-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: pulse 1s infinite;
}
#swapButton,
#swapFullButton {
    background: linear-gradient(to right, #7e57c2, #5e35b1);
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}
#swapButton:hover,
#swapFullButton:hover {
    background: linear-gradient(to right, #9575cd, #7e57c2);
    transform: scale(1.05);
}
#tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#connectWalletModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#connectWalletModal.active {
    display: flex;
}
.chart-background {
    background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
    );
    background-size: 20px 20px;
}

.walletcard {
    padding: 1rem;
    background-color: rgba(51, 61, 77, 0.25);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    border-radius: 20px;
}

.wallettitle {
    display: flex;
    align-items: center;
}

.wallettitle span {
    position: relative;
    padding: 0.5rem;
    background-color: #10b981;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
}

.wallettitle span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 1rem;
}

.wallettitle-text {
    margin-left: 0.5rem;
    color: white;
    font-size: 18px;
}

.walletpercent {
    margin-left: 0.5rem;
    color: #02972f;
    font-weight: 600;
    display: flex;
}

.walletdata {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.walletdata p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.walletdata .walletrange {
    position: relative;
    background-color: #e5e7eb;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
}

.walletdata .walletrange .walletfill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10b981;
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
}
.container-card-charts {
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255),
        rgba(255, 255, 255, 0.1)
    );
    border-radius: 32px;
    padding: 1.6px;
    box-shadow: 0 0px 80px -10px rgba(255, 255, 255, 0.15);
}
.container-card-charts::before {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #777777;
    z-index: -10;
    filter: blur(70px);
}
.card-charts {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #1b1b1b, #000000);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.charts-lines {
    position: relative;
    width: 100%;
    height: 100%;
}
.charts-lines i {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.lines {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
}
.lines span {
    width: 1.5px;
    height: 100%;
    margin: 0 18px;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.025) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.tags-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.tags-card .radio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 12px;
    color: #a7a7a7;
    font-size: 8px;
    font-weight: 600;
    cursor: pointer;
}
.tags-card .radio:hover {
    color: #ffffff;
}
.tags-card .radio input {
    display: none;
}

.tags-card .radio .name {
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    z-index: 1;
}

.tags-card .radio input:checked + .name {
    color: #ffffff;
    background: linear-gradient(15deg, #898989, #181818, #000000);
    transform: scale(1.1);
}

.tags-card .radio input:checked + .name::before {
    position: absolute;
    background-color: #212121;
    content: "";
    inset: 1px;
    z-index: -1;
    border-radius: 12px;
}

.main-texts {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-weight: 500;
}
.main-texts .title {
    background-image: linear-gradient(to top left, #92400e, #f9d86d, #a6a6a6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.main-texts .change {
    background-image: linear-gradient(to right, #8e1414, #ffffff, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.charts-lines path {
    opacity: 0;
}
.card-charts svg {
    transition: transform 0.5s ease;
}
.card-charts:hover svg {
    transform: scale(1.5);
}
.icon-week path {
    animation: draw 8s ease infinite;
}
.icon-month path {
    animation: draw 8s 3s ease infinite;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1500;
        opacity: 0.8;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -1500;
        opacity: 0.8;
    }
}

.swap-icon {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--muted-text);
    transition: all 0.3s ease;
}
.swap-icon:hover {
    transform: rotate(180deg);
}
.token-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}
.token-table th {
    text-align: left;
    padding: 12px;
    color: var(--muted-text);
    font-weight: 600;
}
.token-table td {
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}
.token-table tr:hover td {
    background-color: rgba(255, 255, 255, 0.1);
}
.progress-bar {
    height: 4px;
    background-color: var(--chart-color-1);
    border-radius: 2px;
    transition: width 0.5s ease-in-out;
}
.nav-link {
    position: relative;
    color: var(--muted-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}
.nav-link:hover,
.nav-link.active {
    color: var(--text-color);
}
.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--accent-color);
    transition: all 0.3s ease;
}
.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    left: 0;
}
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .time-selector {
        display: flex;
        overflow-x: auto;
        padding-bottom: 0.5rem;
    }
    .time-btn {
        flex-shrink: 0;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
a:focus,
button:focus,
input:focus,
select:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
}
@media print {
    body {
        background: none;
        color: #000;
    }
    .glass-card {
        box-shadow: none;
        border: 1px solid #000;
    }
    .chart-background {
        display: none;
    }
}
.greed-index-text {
    color: #fff;
}
.glass-btn img {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .nft {
        max-width: calc(50% - 2rem); /* Two cards per row, with gap */
    }
}

@media (max-width: 580px) {
    .nft {
        max-width: 100%;
        margin-left: 50px;
        justify-content: center;
    }
    .explore {
        margin-left: -30px;
    }
}
